{%extends "all-temps/base.html"%} {% load bootstrap4 %} {% block content %}
<br /><br /><br />
<br /><br /><br />

<div class="jumbotron">
  <h3>{{ user_profile.user.username }}</h3>
  <p class="text-center text-info">1 posts 0 followers 0 following</p>

</div>

{% for image in images %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="{{ image.image.url}}" alt="" class="images" />
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}