{%extends 'all-temps/base.html'%} 
{% load bootstrap4 %}
{% block content %} {{block.super}}
<br> <br>
<div class="container">
<div class="row">
  {% for posts in posts%}
  <div class="col-6">
  <div class="card">
    <div>
      <a href="url 'user.profile' posts.user.id" style="color: black;"><p><b>{{ posts.user.username }}</b></p></a>
    </div>
    <div class="text-center mt-1">
      <span>
          <img src="{{posts.image.url}}" alt="" />
        </a>
      </span>
    </div>
  

  <form action="{% url 'comments' image_id=posts.id%}" class="comment-form com" method="POST"
      enctype="multipart/form-data">
      {% csrf_token%}
      {% bootstrap_form form %}
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary login-btn" value="Comment">
        </div>
            <input type="hidden" name="next" value="{{next}}">
            <br>

  </form>
          <div>
            <p>Comments:</p>
            {% for comment in posts.saved_comments %}
            <p> <span><strong>{{comment.user}}</strong></span>: {{comment.comment}}</p>

            {% endfor %}
            </div>

            <form action = "{% url 'like_post' %}"   method='POST'>
              {% csrf_token %}
              <input type="hidden" name="image_id" value="{{posts.id}}">
              {%if user not in posts.liked.all %}
              <button class="btn-light" type="submit" style="border: none; margin-right: 63%;"><i
                class="far fa-heart text-dark"></i> </button>
              {% else %}
              <button class="btn-light" type="submit" style="border: none; margin-right: 63%;"><i
                class="far fa-heart text-danger"></i> </button>
              {% endif %}
            </form>
              <strong>{{posts.liked.all.count}}Likes</strong>
            </div>
          </div>
  {% endfor %} 
</div>
  {% endblock %}
</div>
