{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}
<br> <br>
<div class="row">
  {% for posts in posts%}
  <div class="col-4">
    
    <div class="text-center mt-1">
      <span>
          <img src="{{posts.image.url}}" alt="" />
        </a>
      </span>
    </div>
  </div>

  <form action="{% url 'comments' image_id=posts.id%}" class="comment-form com" method="POST"
      enctype="multipart/form-data">
      {% csrf_token%}
      
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary login-btn" value="Comment">
        </div>
            <input type="hidden" name="next" value="{{next}}">
            <br>

  </form>
        <div>
            <p>Comments:</p>
            {% for comment in posts.saved_comments %}
            <p> <span><strong>{{comment.user}}</strong></span>: {{comment.comment}}</p>

            {% endfor %}
            </div>

            <form action = "{% url 'like-posts' %}"   method='POST'>
              {% csrf_token %}
              <input type="hidden" name="image_id" value="{{posts.id}}">
              {%if user not in posts.liked.all %}
              <button class="btn btn-success" type="submit">like</button>
              {% else %}
               <button class="" type="submit">Un-like</button>
              {% endif %}
            </form>
              <strong>{{posts.liked.all.count}}Like(s)</strong>

  {% endfor %} 
  
  {% endblock %}
</div>
